@import url(./Navbar.style.css);
.m{
    margin-top: 10px;
    margin-bottom: 10px;
}
.hContainer {
    padding-top: 50px;
}
.hHeading {
    margin-top: 10px;
}
.hParagraph{
    /* background-color: whitesmoke; */
    margin-top: 20px;
    margin-bottom: 20px;
}
.hParagraph>p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.hHeading > h1 {
    
    margin-top: 10px;
  font-size: 80px;
  color: var(--Heading);
  font-weight: bold;
}
.hSection {
  flex-basis: 55%;
  color: var(--white);
  font-weight: normal;
  font-size: 18px;
}

.hDataBaseImg > img {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 720px) {
    .hHeading>h1{
        font-size: 50px;
    }
    .hSection {
        /* border: 1px solid red; */
        margin: auto;
        flex-basis: 100%;
        order: 1;
    }
    .hContainer{
        width: 90%;
        padding-top: 10px;
        flex-direction: column;
    }
    
}