:root {
  --Heading: #30fbef;
  --white: #ffffff;
}
.app {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  font-family: SoniSans;
  /* border: 1px solid red; */
  color: white;
}
.flexCCb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
* {
  margin: 0%;
  padding: 0%;
}
@font-face {
  font-family: SoniSans;
  src: url(./Img/FontType/Stawix\ -\ SoinSansNeue-Medium.otf);
}
